html,
body {
	font-size: 16px;
	font-family: Exo;
}

label,
li {
	font-size: 1rem;
}

.action-buttons {
	flex-direction: column;
}

@media only screen and (max-width: 1199px) {
	p.h1 {
		font-size: 1.6rem;
	}
	h1.display-3 {
		font-size: 3.5rem;
	}
}

@media only screen and (max-width: 991px) {
	html {
		font-size: 15px;
	}
}

@media only screen and (max-width: 767px) {
	html {
		font-size: 14px;
	}
}

@media only screen and (max-width: 575px) {
	html {
		font-size: 12px;
	}
	h1.display-3 {
		font-size: 3rem;
	}
	p.h1 {
		font-size: 16px;
	}
	.form-inline label {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 0;
	}
	.form-inline .form-group {
		display: flex;
		flex: 0 0 auto;
		flex-flow: row wrap;
		align-items: center;
		margin-bottom: 0;
	}
	.form-inline .form-control {
		display: inline-block;
		width: auto;
		vertical-align: middle;
	}
}

@media only screen and (max-width: 411px) {
	h1.display-3 {
		font-size: 2.5rem;
	}
	p.h1 {
		font-size: 13px;
	}
	.action-buttons {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
}

/* .colors {
	color: rgb(248, 191, 191);
	color: rgba(255, 236, 64, 0.9);
	color: rgb(193, 222, 255);
	color: rgb(207, 248, 202);
	color: rgb(253, 208, 246);
	color: rgb(250, 213, 178);
	color: rgb(211, 196, 253);
} */
