html,
body {
	font-size: 16px;
	font-family: Exo, sans-serif;
}

label,
li {
	font-size: 1rem;
}

.main {
	margin-top: 70px;
	margin-bottom: 30px;
}

.icon-size {
	font-size: 2.5rem;
}

:root {
	--orange: rgb(255, 88, 88);
	--orange-fade: rgb(250, 137, 137);
	--blue: rgb(103, 174, 255);
	--blue-fade: rgb(161, 205, 255);
}

.btn-custom-success {
	color: var(--orange);
	border-color: var(--orange-fade);
}

.btn-custom-success:focus {
	box-shadow: 0 0 1px 3px var(--orange-fade);
}

.btn-custom-success:hover {
	color: #fff;
	background-color: var(--orange-fade);
	border-color: var(--orange-fade);
}

.btn-custom-info {
	color: var(--blue);
	border-color: var(--blue-fade);
}

.btn-custom-info:hover {
	color: #fff;
	background-color: var(--blue-fade);
	border-color: var(--blue-fade);
}

/* REACT TRANSITION GROUP */
.opacity-transition {
	opacity: 1;
}

.opacity-transition-appear {
	opacity: 0;
}

.opacity-transition-appear-active {
	opacity: 1;
	transition: opacity 500ms linear;
}

.opacity-transition-exit {
	opacity: 1;
}

.opacity-transition-exit-done {
	opacity: 0;
	transition: opacity 500ms linear;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1199px) {
	p.h1 {
		font-size: 1.6rem;
	}
	h1.display-3 {
		font-size: 4rem;
	}
}

@media only screen and (max-width: 991px) {
	h1.display-3 {
		font-size: 3.5rem;
	}
}

@media only screen and (max-width: 767px) {
	h1.display-3 {
		font-size: 3rem;
	}
}

@media only screen and (max-width: 575px) {
	h1.display-3 {
		font-size: 2.5rem;
	}
	p.h1 {
		font-size: 1.3rem;
	}
	.form-inline label {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 0;
	}
	.form-inline .form-group {
		display: flex;
		flex: 0 0 auto;
		flex-flow: row wrap;
		align-items: center;
		margin-bottom: 0;
	}
	.form-inline .form-control {
		display: inline-block;
		width: auto;
		vertical-align: middle;
	}
}

@media only screen and (max-width: 411px) {
	h1.display-3 {
		font-size: 2.1rem;
		font-weight: 400;
	}
	p.h1 {
		font-size: 1.2rem;
	}
}

/* .colors {
	color: rgb(248, 191, 191);
	color: rgb(252, 242, 157);
	color: rgb(193, 222, 255);
	color: rgb(186, 255, 177);
	color: rgb(253, 208, 246);
	color: rgb(250, 213, 178);
	color: rgb(211, 196, 253);
} */
