.button-circle {
	width: 6rem;
	height: 6rem;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
	cursor: pointer;
	transition: all 100ms;
}

.button-circle:hover {
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.3) inset;
	transform: scale(1.05);
}
