.category-card {
	transition: all 50ms linear;
	border-style: outset;
	box-shadow: 3px 3px 5px 1px rgba(146, 146, 146, 0.7);
}

.category-card:hover {
	transform: scale(1.02);
	box-shadow: 5px 5px 10px 5px rgba(146, 146, 146, 0.3);
}

.category-delete {
	box-shadow: none;
	border-style: dashed;
}

button.close:focus {
	outline: none;
}

li.border-bottom:last-child {
	border-bottom: none !important;
}

input[type="checkbox"].category-select:checked
	+ label.label
	> div.category-delete
	i.material-icons {
	display: block !important;
}

input[type="checkbox"].category-select
	+ label.label
	> div.category-delete:hover {
	background-color: rgba(156, 156, 156, 0.2);
}

input[type="checkbox"].category-select:checked
	+ label.label
	> div.category-delete {
	background-color: rgba(156, 156, 156, 0.2);
	color: red;
}

input[type="checkbox"].category-select:checked
	+ label.label
	> div.category-delete
	li.info-items {
	color: red;
}

input[type="checkbox"].category-select:focus + label.label > div.category-card {
	transform: scale(1.02);
	box-shadow: 5px 5px 10px 5px rgba(146, 146, 146, 0.3);
}

input[type="checkbox"].category-select:focus
	+ label.label
	> div.category-delete {
	background-color: rgba(156, 156, 156, 0.2);
}
