.category-card {
	width: 99%;
	transition: all 50ms ease-in;
	border-bottom-style: solid;
	border-bottom-width: 12px;
	background-color: rgb(248, 249, 250);
	box-shadow: 2px 4px 7px 2px rgba(146, 146, 146, 0.7),
		-3px -3px 10px 2px rgba(0, 0, 0, 0.3) inset;
}

.category-card:hover,
input[type="checkbox"].category-select:focus + label.label > div.category-card {
	width: 100%;
	box-shadow: 2px 7px 9px 4px rgba(146, 146, 146, 0.5),
		-3px -3px 10px 2px rgba(0, 0, 0, 0.3) inset;
}

.category-delete {
	width: 99%;
	box-shadow: none;
	border-style: dashed;
	border-width: 5px;
}

.cat-circle {
	border-width: 5px;
	width: 7rem;
	height: 7rem;
}

.check-circle {
	font-size: 7.7rem;
}

button.close:focus {
	outline: none;
}

li.border-bottom:last-child {
	border-bottom: none !important;
}

input[type="checkbox"].category-select:checked
	+ label.label
	> div.category-delete
	i.check-circle {
	display: block !important;
}

input[type="checkbox"].category-select
	+ label.label
	> div.category-delete:hover,
input[type="checkbox"].category-select:focus
	+ label.label
	> div.category-delete {
	background-color: rgba(156, 156, 156, 0.2);
}

input[type="checkbox"].category-select:checked
	+ label.label
	> div.category-delete {
	background-color: rgba(156, 156, 156, 0.2);
	color: #dc3545;
}

input[type="checkbox"].category-select:checked
	+ label.label
	> div.category-delete
	li.info-items {
	color: #dc3545;
}

/* REACT TRANSITION GROUP */
.cat-label {
	opacity: 1;
}

.cat-label-appear {
	opacity: 0;
}

.cat-label-appear-active {
	opacity: 1;
	transition: opacity 500ms;
}

.cat-label-exit {
	opacity: 1;
}

.cat-label-exit-done {
	opacity: 0;
	transition: opacity 500ms;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 767px) {
	.category-card {
		border-bottom-width: 8px;
	}
	.category-delete {
		border-width: 4px;
	}
	.cat-circle {
		width: 90px;
		height: 90px;
		border-width: 4px;
	}
	.check-circle {
		font-size: 6.2rem;
	}
}

@media only screen and (max-width: 575px) {
	.cat-circle {
		width: 80px;
		height: 80px;
	}
	.check-circle {
		font-size: 5.4rem;
	}
}

@media only screen and (max-width: 411px) {
	.cat-circle {
		width: 55px;
		height: 55px;
	}
	.check-circle {
		font-size: 3.5rem;
	}
}
